*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    font-family: 'Mukta',sans-serif;
}
html{
    font-size: 62.5%;
}
/* Container Start */
.container{
    height: 100%;
    width: 100%;
    background-color: #fff;
    overflow: hidden;
}
/* Container End */
/* Navigation Start */
.navbar{
    position: fixed;
    height: 12rem;
    width: 100%;
    top: 0%;
    left: 0%;
    z-index: 10;
    /* background: #fff; */
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
}
.navbar.sticky{
    height: 8rem;
    background: #fff;
    box-shadow: 0 1rem 10rem rgba(130,162,235,.6);
}
.logo{
    display: flex;
    flex-direction: column;
}
.logo span{
    text-shadow: 0 1rem 3rem rgba(0, 0, 0, .3);
}

.logo span:nth-child(1){
    font-family: "Mooli",cursive;
    color: white;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: bold;
}
.logo span:nth-child(1) span{
    display: inline-block;
    font-size: 1.1rem;
    font-weight: 600;
    transform: translateY(-.8rem);
}
.logo span:nth-child(2){
    font-family: "Croissant One", cursive;
    display: inline-block;
    font-size: 1.1rem;
    color: white;
    font-weight: 600;
    text-align: right;
    transform: translate(-.9rem,-1rem);
    letter-spacing: .1rem;
}
.sticky .logo span{
    color:#0c3f41;
    text-shadow: none;
}
.nav-items{
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.nav-item{
    list-style: none;
    position: relative;
}
.nav-item:not(:last-child)::after{
    content:"";
    position: absolute;
    top: 1.5rem;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    border-left: 2.5rem solid transparent;
    border-right: 2.5rem solid transparent;
    border-bottom: 2.5rem solid #fff;
    opacity: 0;
    visibility: hidden;
}
.nav-item:hover::after{
    opacity: 1;
    visibility: visible;
}
.sticky .nav-item::after{
    top: 5rem;
}
.nav-link{
    color: whitesmoke;
    font-weight: bold;
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    text-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
}
.sticky .nav-link{
    color: #13686b;
    font-weight: bold;
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    text-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
}
/* Dropdown-1 Start */
.dropdown{
    position: absolute;
    top: 4rem;
    border-radius: 1rem;
    box-shadow: 0 1rem 3rem rgba(0,0,0,.2);
    padding: 2rem;
    background: white;
    opacity: 0;
    visibility: hidden;
    transition: all .3s;
}
.nav-item:hover .dropdown{
    opacity: 1;
    visibility: visible;
}
.sticky .dropdown{
    top: 8rem;
    box-shadow: 0 1rem 10rem rgba(130,162,235,.4);
}
.dropdown-1{
    left: -24rem;
    height: 42rem;
    width: 86rem;
    display: flex;   
}
.dropdown-1-left{
    width: 25%;
    padding-right: 2rem;
}
.dropdown-1-right{
    width: 75%;
    padding-left: 2rem;
}
.dropdown-1-left h5{
    font-family: "Mooli", cursive;
    font-size: 1.8rem;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    border-bottom: .2rem solid rgba(134,152,167,.5);
}
.dropdown-1-right h5{
    font-family: "Mooli", cursive;
    font-size: 1.8rem;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    border-bottom: .2rem solid rgba(134,152,167,.5);
}
.dropdown-1-right button{
    height: 3rem;
    width: 90%;
    border-radius: 2rem;
    background:linear-gradient(to right,#ee0979, #ff6a00);
    color: white;
    border: none;
    cursor: pointer;
    box-shadow: rgba(0,0,0,.3);
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: .1rem;
    font-size: 1.3rem;
    transition: transform .8s;
}
.dropdown-1-right button:hover{
    transform: scale(1.05);
    background:linear-gradient(to right, #31dca1, #00d3e0);
    font-weight: bold;
}
.features-list-item{
    display: flex;
    align-items: center;
    margin: 1.5rem 0; 
    cursor: pointer;
}
.features-list-item i{
    font-size: 1rem;
    width: 1rem;
    color: #8698a7;
    transition: color .3s;
    
}
.features-list-item span{
    font-size: 1.1rem;
    color: #8698a7;
    padding-left: 2rem;
    transition: color .5s;
}
.features-list-item:hover i,
.features-list-item:hover span{
    color: rgb(34, 33, 33);
}
.dropdown-services {
    height: 30rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.dropdown-service{
    display: flex;
    margin-bottom: 2rem;
    cursor: pointer;
    align-items: center;
    
}
.dropdown-service i{
    height: 4rem;
    width: 4rem;
    margin-right: 1rem;
    background: linear-gradient(to right, rgb(160, 250, 200), rgb(128, 189, 153));
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    color: white;
    
    transition: transform .3s;
}
.dropdown-service:nth-child(1) i{
    background: linear-gradient(to right, rgb(191, 128, 233), rgb(193, 96, 250));
    box-shadow: 0 .5rem 2rem rgba(174, 131, 235, .3);
}
.dropdown-service:nth-child(2) i{
    background: linear-gradient(to right,#3f51ec, #2d2dcf);
    box-shadow: 0 .5rem 2rem rgba(45,45,216,.5);
}
.dropdown-service:nth-child(3) i{
    background: linear-gradient(to right, #00d3e0, #03b4d8);
    box-shadow: 0 .5rem 2rem rgba(3,180,216,.5);
}
.dropdown-service:nth-child(4) i{
    background: linear-gradient(to right, #31dca1, #23d683);
    box-shadow: 0 .5rem 2rem rgba(35,314,131,.3);
}
.dropdown-service:nth-child(5) i{
    background: linear-gradient(to right, #e5bc27,  #eae715);
    box-shadow: 0 .5rem 2rem rgba(241, 225, 79, 0.5);
}
.dropdown-service:nth-child(6) i{
    background: linear-gradient(to right, rgb(247, 95, 25), rgb(233, 107, 57));
    box-shadow: 0 .5rem 2rem rgba(250, 113, 59, .3);
}
.dropdown-service:nth-child(7) i{
    background: linear-gradient(to right, rgb(235, 12, 23), rgb(245, 53, 53));
    box-shadow: 0 .5rem 2rem rgba(252, 50, 50, 0.3);
}
.dropdown-service:hover i{
    transform: scale(1.1);
}
.dropdown-service-item{
    display: flex;
    flex-direction: column;
}
.dropdown-service-item span{
    font-size: 1.2rem;
}
.dropdown-service-item span:nth-child(1){
    font-family: "Mooli",cursive;
    font-weight: bold;
    letter-spacing: .1rem;
    text-transform: uppercase;
}
.dropdown-service:nth-child(1) .dropdown-service-item span:nth-child(1){
    color:  rgb(191, 128, 233);
}
.dropdown-service:nth-child(2) .dropdown-service-item span:nth-child(1){
    color: #3f51ec;
}
.dropdown-service:nth-child(3) .dropdown-service-item span:nth-child(1){
    color: #00d3e0;
}
.dropdown-service:nth-child(4) .dropdown-service-item span:nth-child(1){
    color: #31dca1;
}
.dropdown-service:nth-child(5) .dropdown-service-item span:nth-child(1){
    color:#e5bc27;
}
.dropdown-service:nth-child(6) .dropdown-service-item span:nth-child(1){
    color: rgb(247,95,25);
}
.dropdown-service:nth-child(7) .dropdown-service-item span:nth-child(1){
    color:  rgb(235,12,23);
}
.dropdown-service-item span:nth-child(2){
    color:#6a6f72;
    font-weight: 300;
}
/* Dropdown-1 End */
/* Dropdown-2 Start */
.dropdown-2{
    height: 36rem;
    width: 84rem;
    left: -30rem;
    display: flex;
}
.clients-item{
    width: 100%;
    margin: 0 0.5rem;
    padding: .7rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    border-radius: 1rem;
}
.clients-item:nth-child(1){
    background: linear-gradient(135deg, #fdf7fe, #ead7ff);
}
.clients-item:nth-child(2){
    background: linear-gradient(135deg, #f2f6ff, #cad9ff);
}
.clients-item:nth-child(3){
    background: linear-gradient(135deg, #f1fdf7, #6fffdf);
}
.clients-item:nth-child(4){
    background: linear-gradient(135deg, #fff4cd, #f3d7c8);
}
.clients-item i{
    font-size: 6rem;
}
.clients-item:nth-child(1) i,
.clients-item:nth-child(1) h3{
    color: #ac63fa;
}
.clients-item:nth-child(2) i,
.clients-item:nth-child(2) h3 {
    color: #1f5bf3;
}
.clients-item:nth-child(3) i,
.clients-item:nth-child(3) h3 {
    color: #1fcf77;
}
.clients-item:nth-child(4) i,
.clients-item:nth-child(4) h3 {
    color: #ff8645;
}
.clients-item h3{
    font-weight: 300;
    text-align: center;
    font-size: 2.5rem;
    text-transform: uppercase;
    line-height: 3rem;
    margin-bottom: .7rem;
}
.clients-item p{
    font-size: 1.5rem;
    font-weight: 300;
    text-align: center;
    line-height: 2rem;
}

/* Dropdown-2 End */
/* Dropdown-3 Start */
.dropdown-3{
    height: 42rem;
    width: 35rem;
    left: 50%;
    transform: translateX(-50%);
    padding: 1rem 2rem 2rem 2rem;
}
.product{
    display: flex;
    flex-direction: row;
    align-items: center; 
    margin-bottom: 2rem;
    cursor: pointer;    
}
.product:hover .shoe_icons{
    transition: all .3s;
}
.product:hover:nth-child(1) .shoe_icons{
    transform: scale(1.15);
    box-shadow: #7e5af2 2px 2px 2px 2px;
}  
.product:hover:nth-child(2) .shoe_icons{
    transform: scale(1.15);
    box-shadow: #E5392C 2px 2px 2px 2px;
}  
.product:hover:nth-child(3) .shoe_icons{
    transform: scale(1.15);
    box-shadow: #FD625D 2px 2px 2px 2px;
}  
.product:hover:nth-child(4) .shoe_icons{
    transform: scale(1.15);
    box-shadow: #65B9FF 2px 2px 2px 2px;
}  
.product:hover:nth-child(5) .shoe_icons{
    transform: scale(1.15);
    box-shadow: #A9725E 2px 2px 2px 2px;
}  
.product:hover:nth-child(6) .shoe_icons{
    transform: scale(1.15);
    box-shadow: #F2B549 2px 2px 2px 2px;
}  
.shoe_icons{
    border-radius: 50%;
    margin-right: 2rem;
    box-shadow: rgba(75, 73, 73, 0.2) 2px 2px 8px 0px;
    padding: 0.5rem;
}
.product span{
    display: flex;
    flex-direction: row;
} 
.shoe_icons{
    height: 4rem;
    width: 4rem;
}

.product:nth-child(1) 
.product-item span:nth-child(1){
    color: #986ff9;
    font-size: 1.2rem;
    font-family: "Mooli", cursive;
    font-weight: bold;
    text-transform: uppercase;
}
.product:nth-child(2) 
.product-item span:nth-child(1){
    color: #ff2674;
    font-size: 1.2rem;
    font-family: "Mooli", cursive;
    font-weight: bold;
    text-transform: uppercase;
}
.product:nth-child(3) 
.product-item span:nth-child(1){
    color: #fd625d;
    font-size: 1.2rem;
    font-family: "Mooli", cursive;
    font-weight: bold;
    text-transform: uppercase;
}
.product:nth-child(4) 
.product-item span:nth-child(1){
    color: #69b5ff;
    font-size: 1.2rem;
    font-family: "Mooli", cursive;
    font-weight: bold;
    text-transform: uppercase;
}
.product:nth-child(5) 
.product-item span:nth-child(1){
    color: #a9725e;
    font-size: 1.2rem;
    font-family: "Mooli", cursive;
    font-weight: bold;
    text-transform: uppercase;
}
.product:nth-child(6) 
.product-item span:nth-child(1){
    color: #f2b549;
    font-size: 1.5rem;
    font-family: "Mooli", cursive;
    font-weight: bold;
    text-transform: uppercase;
}
.product .product-item span:nth-child(2){
    color: #6a6f72;
    font-size: 1.2rem;
    font-family: "Mooli", cursive;
    font-weight: bold;
}
.products button{
    width: 100%;
    height: 3rem;
    text-align: center;
    border: none;
    border-radius: 3rem;
    background:linear-gradient(to right,#ee0979, #ff6a00);
    color: white;
    text-transform: uppercase;
    letter-spacing: .1rem;
    font-weight: 700;
    cursor: pointer;
    font-size: 1.2rem;
    box-shadow: rgba(0,0,0,.3);
    transition: all .3s;
}
.products button:hover{
    /* transform: scale(1.05); */
    transform: translateX(.3rem);
    background:linear-gradient(to right, #986ff9, #69b5ff);
    font-weight: bold;
}
/* Dropdown-3 End */
/* Dropdown-4 Start */
.dropdown-4{
    width: 84rem;
    height: 42rem;
    left: -45rem;
    background: #fff;
    display: flex;
}
.dropdown-4-left{
    width: 25%;
    padding-right: 2rem;
}
.dropdown-4-left h5{
    font-family: "Mooli", cursive;
    font-weight: bold;
    font-size: 2rem;
    color: rgb(58, 56, 56);
    border-bottom: .2rem solid gray;
    
}
.about-us-left-list{
    display: flex;
    flex-direction: column;
}
.about-us-item-left{
    display: flex;
    align-items: center;
    margin-top: 1.5rem;
}
.about-us-left-img{
    width: 4remm;
    height: 4rem;
    border-radius: 50%;
    margin-right: 2rem;
    box-shadow: rgba(12, 12, 12, 0.2) 2px 2px 8px 0px;
    padding: 0.5rem;
    cursor: pointer;
    transition: transform .3s;
}
.about-us-item-left:hover:nth-child(1) img{
    transform: scale(1.15);
    box-shadow:#d4483b 2px 2px 2px 2px;
}
.about-us-item-left:hover:nth-child(2) img{
    transform: scale(1.15);
    box-shadow:#74f07a 2px 2px 2px 2px;
}
.about-us-item-left:hover:nth-child(3) img{
    transform: scale(1.15);
    box-shadow:#3d7fa8 2px 2px 2px 2px;
}
.about-us-item-left:hover:nth-child(4) img{
    transform: scale(1.15);
    box-shadow:#0ab69f 2px 2px 2px 2px;
}
.about-us-item-left:hover:nth-child(5) img{
    transform: scale(1.15);
    box-shadow:#f40552 2px 2px 2px 2px;
}
.about-us-item-left span{
    font-size: 1.3rem;
    font-weight: bold;
    font-family: "Mooli",cursive;
    text-transform: uppercase;
    letter-spacing: .1rem;
    cursor: pointer;
    display: flex;
    flex-direction: row;
}
.about-us-item-left:nth-child(1) span{
    color:#d4483b;
}
.about-us-item-left:nth-child(2) span{
    color:#ff76aa;
}
.about-us-item-left:nth-child(3) span{
    color:#3d7fa8;
}
.about-us-item-left:nth-child(4) span{
    color:#0ab69f;
}
.about-us-item-left:nth-child(5) span{
    color:#f40552;
}

.dropdown-4-right{
    width: 75%;
    padding-left: 1rem;
    padding-right: 1rem;
}
.dropdown-4-right h5{
    font-family: "Mooli", cursive;
    font-weight: bold;
    font-size: 2rem;
    color: rgb(58, 56, 56);
    border-bottom: .2rem solid gray;
}
.about-us-right-list{
    height: 36rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.about-us-right-list-1{
    width: 50%;
}
.about-us-right-list-2{
    width: 50%;
}
.about-us-item-right{
    display: flex;
    align-items: center;
    margin-top: 1.5rem;
}

.about-us-right-1:hover:nth-child(1) img{
    transform: translateX(.3rem);
    box-shadow: #f8b11e 2px 2px 2px 2px;
}
.about-us-right-1:nth-child(1) span{
    color: #f8b11e;
}
.about-us-right-1:hover:nth-child(2) img{
    transform: translateX(.3rem);
    box-shadow: #5bb6fc 2px 2px 2px 2px;
}
.about-us-right-1:nth-child(2) span{
    color: #5bb6fc;
}
.about-us-right-1:hover:nth-child(3) img{
    transform: translateX(.3rem);
    box-shadow: #ec3a48 2px 2px 2px 2px;
}
.about-us-right-1:nth-child(3) span{
    color: #ec3a48;
}
.about-us-right-1:hover:nth-child(4) img{
    transform: translateX(.3rem);
    box-shadow: #f019a4 2px 2px 2px 2px;
}
.about-us-right-1:nth-child(4) span{
    color: #f019a4;
}
.about-us-right-1:hover:nth-child(5) img{
    transform: translateX(.3rem);
    box-shadow: #f69a86 2px 2px 2px 2px;
}
.about-us-right-1:nth-child(5) span{
    color: #f69a86;
}
.about-us-right-1:hover:nth-child(6) img{
    transform: translateX(.3rem);
    box-shadow: #f55c5d 2px 2px 2px 2px;
}
.about-us-right-1:nth-child(6) span{
    color: #f55c5d;
}
.about-us-right-2:hover:nth-child(1) img{
    transform: translateX(.3rem);
    box-shadow: #5a5ab9 2px 2px 2px 2px;
}
.about-us-right-2:nth-child(1) span{
    color: #5a5ab9;
}
.about-us-right-2:hover:nth-child(2) img{
    transform: translateX(.3rem);
    box-shadow: #3dbd6c 2px 2px 2px 2px;
}
.about-us-right-2:nth-child(2) span{
    color: #3dbd6c;
}
.about-us-right-2:hover:nth-child(3) img{
    transform: translateX(.3rem);
    box-shadow: #69a2cd 2px 2px 2px 2px;
}
.about-us-right-2:nth-child(3) span{
    color: #69a2cd;
}
.about-us-right-2:hover:nth-child(4) img{
    transform: translateX(.3rem);
    box-shadow: #ed1c24 2px 2px 2px 2px;
}
.about-us-right-2:nth-child(4) span{
    color: #ed1c24;
}
.about-us-right-2:hover:nth-child(5) img{
    transform: translateX(.3rem);
    box-shadow: #5d689e 2px 2px 2px 2px;
}
.about-us-right-2:nth-child(5) span{
    color: #5d689e;
}
.about-us-right-img{
    width: 4remm;
    height: 4rem;
    border-radius: 50%;
    margin-right: 2rem;
    box-shadow: rgba(12, 12, 12, 0.2) 2px 2px 8px 2px;
    padding: 0.5rem;
    cursor: pointer;
    transition: transform .3s;
}
.about-us-item-right span{
    font-size: 1.3rem;
    font-weight: bold;
    font-family: "Mooli",cursive;
    text-transform: uppercase;
    letter-spacing: .1rem;
    cursor: pointer;
    display: flex;
    flex-direction: row;
}
/* Dropdown-4 End */

/* Dropdown-5 Start */
.dropdown-5{
    width: 30rem;
    height: 33rem;
    padding: 1rem 2rem 2rem 2rem;
    left: 50%;
    transform: translateX(-50%);
}
.contact-options div{
    margin: 1.4rem 0;
    cursor: pointer;
    
}
.contact-options div:hover i{
    color: #0dc143;
    transform: translateX(.3rem);
    transition: transform .5s;
}
.contact-options div:hover span{
    color: #0dc143;
    transform: scale(1.05);
    font-weight: bold;
    transition: transform .5s;
}
.contact-options i{
    width: 4rem;
    font-size: 2rem;
    color: #3295ff;
}
.contact-options span{
    font-size: 1.2rem;
    letter-spacing: .1rem;
    text-transform: uppercase;
    color: #3295ff;
}
.dropdown-5 button{
    width: 90%;
    height: 3rem;
    color: #fff;
    border: none;
    border-radius: 5rem;
    background: #3295ff;
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: .1rem;
    cursor: pointer;
    transition: transform .5s;
}
.dropdown-5 button:hover{
    transform: scale(1.05);
    background: #0dc143;
}
/* Dropdown-5 End */
/* Dropdown-6 Start */
.dropdown-6{
    width: 30rem;
    height: 27rem;
    left: 50%;
    transform: translateX(-50%);
    padding: 2rem;
}
.account-input-group{
    display: flex;
    flex-direction: column;
}
.account-input-group input{
    width: 100%;
    height: 4rem;
    background: rgba(191,213,240,.4);
    border: none;
    border-radius: 1rem;
    padding: 1rem 1rem;
    margin-bottom: 1rem;
    color: rgb(58, 55, 55);
    text-transform: uppercase;
    font-weight: bold;
}
.account-input-group input::placeholder{
    color: #888;
}
.check{
    margin-top: 1rem;
    margin-bottom: 4rem;
}
.check label{
    font-size: 1.6rem;
    color: #777;
    font-weight: 300;
}
.account-form button{
    width: 100%;
    height: 3rem;
    color: #fff;
    border: none;
    border-radius: 5rem;
    background: #3295ff;
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: .1rem;
    cursor: pointer;
    transition: transform .5s;
    margin-bottom: 1rem;
}
.account-form button:hover{
    transform: scale(1.05);
    background: #0dc143;
}
.account-form p{
    font-size: 1.3rem;
    color: #888;
    text-align: center;
    font-weight: 300;
}
.account-form p span a{
    color: #2371ff;
  
}
/* Dropdown-6 End */
/* Dropdown-7 Start */
.nav-btn{
    width: 10rem;
    height: 3.5rem;
    border: none;
    border-radius: 3rem;  
    background: #fff;
    color: #e78f74;
    font-weight: bold;
    cursor: pointer;
    transition: all .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    letter-spacing: .1rem;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, .4);
}
.nav-btn:hover{
    transform: scale(1.10);
}
.sticky .nav-btn{
    box-shadow: none;
    color: #fff;
    background: linear-gradient(to right, #ff4569, #ff3598);
}
/* Dropdown-7 End */
/* Navigation End */
/* Header Start */
header{
    width: 100%;
    height: 100vh;
    position: relative;
    margin-bottom: 6rem;
}
/* Header End */

/* Banner Start */
.banner{
    position: absolute;
    top: 18%;
    left: 20%;
    z-index: 3;
}
.banner h1{
    font-size: 5rem;
    color: white;
    font-family: "Mooli", cursive;
    text-shadow: 0 1rem 3rem rgba(0,0,0,.1);
}
.banner h3{
    font-size: 1.6rem;
    color: white;
    text-transform: uppercase;
    letter-spacing: .1rem;
    font-family: "Mooli", cursive;
    text-shadow: 0 1rem 3rem rgba(0,0,0,.1);
    margin: 0 0 3rem 1rem;
}
.banner button{
    width: 10rem;
    height: 2.5rem;
    border: none;
    border-radius: 1.5rem;
    letter-spacing: .1rem;
    text-transform: uppercase;
    font-size: 1.1rem;
    font-weight: 400;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, .1);
    cursor: pointer;
    background: linear-gradient(to right, #aa3fac, #8430ea);
    color: white;
}
.banner button:hover{
    transform: translateY(-.2rem);
}
/* Banner End */
/* Backgrounds Start */
.backgrounds div{
    position: absolute;
}
.bg-main{
    width: 150%;
    height: 150%;
    background: linear-gradient(to left, transparent, #4408c5, #4408ab);
    top: -95%;
    left: -10%;
    transform: rotateZ(-15deg) skewX(30deg);
    border-radius: 0 0 0 10rem;
    opacity: .9;
    z-index: 1;
}
.bg-1{
    width: 50%;
    height: 100%;
    background: linear-gradient(transparent 60%, #ff26ac, #f724db);
    top: -40%;
    right: -10%;
    transform: rotateZ(-15deg) skewX(30deg);
    border-radius: 0 0 0 5rem;
}
.bg-2{
    width: 50%;
    height: 100%;
    background: linear-gradient(transparent 60%, #cd5995, #fe945a);
    top: -60%;
    right: 10%;
    transform: rotateZ(-15deg) skewX(30deg);
    border-radius: 0 0 0 5rem;
    z-index: 2;
    opacity: .4;
    box-shadow: 7rem 4rem 6rem rgba(0, 0, 0, .9);
}
/* Backgrounds End */
/* Service Section Start */
.services{
    width: 100%;
    height: 170vh;
    position: relative;
    margin-top: 15rem;
    margin-bottom: 20rem;
}
.service-wrapper{
    width: 65%;
    background: #fff;
    box-shadow: 0 2rem 5rem rgba(134,152,167,.5);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 6rem 0;
    border-radius: 1rem;
    position: absolute;
    z-index: 3;
}
.service-wrapper h2{
    font-family: "Mooli",cursive;
    font-size: 3rem;
    font-weight: bold;
    text-transform: uppercase;
    color: #394353;
    letter-spacing: .1rem;
    margin-bottom: 6rem;
}
.service-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.service{
    width: 25rem;
    height: 28rem;
    box-shadow: 0 1rem 2rem rgba(190, 190, 194, 0.4);
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 1.5rem;
}
.service i{
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    box-shadow: 0 3rem 5rem rgba(61, 95, 175, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    background: #fff;
}
.service:nth-child(1) i{
    background: linear-gradient(#fff, #1259dd 60%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.service:nth-child(2) i{
    background: linear-gradient(#fff, #fa751c 60%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.service:nth-child(3) i{
    background: linear-gradient(#fff, #3293ff 60%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.service:nth-child(4) i{
    background: linear-gradient(#fff, #31dea1 60%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.service:nth-child(5) i{
    background: linear-gradient(#fff, #4400ab 60%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.service:nth-child(6) i{
    background: linear-gradient(#fff, #ff4800 60%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.service:nth-child(7) i{
    background: linear-gradient(#fff, #ff26ac 60%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.service:nth-child(8) i{
    background: linear-gradient(#fff, #00d1ea 60%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.service:nth-child(9) i{
    background: linear-gradient(#fff, #f600e4 60%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.service:nth-child(1) h3{
    font-family: "Croissant one", cursive;
    font-size: 1.5rem;
    margin: 2rem 0;
    color: #1259dd;
}
.service:nth-child(2) h3{
    font-family: "Croissant one", cursive;
    font-size: 1.5rem;
    margin: 2rem 0;
    color: #fa751c;
}
.service:nth-child(3) h3{
    font-family: "Croissant one", cursive;
    font-size: 1.5rem;
    margin: 2rem 0;
    color: #3293ff;
}
.service:nth-child(4) h3{
    font-family: "Croissant one", cursive;
    font-size: 1.5rem;
    margin: 2rem 0;
    color: #31dea1;
}
.service:nth-child(5) h3{
    font-family: "Croissant one", cursive;
    font-size: 1.5rem;
    margin: 2rem 0;
    color: #4400ab;
}
.service:nth-child(6) h3{
    font-family: "Croissant one", cursive;
    font-size: 1.5rem;
    margin: 2rem 0;
    color: #ff4800;
}
.service:nth-child(7) h3{
    font-family: "Croissant one", cursive;
    font-size: 1.5rem;
    margin: 2rem 0;
    color: #ff26ac;
}
.service:nth-child(8) h3{
    font-family: "Croissant one", cursive;
    font-size: 1.5rem;
    margin: 2rem 0;
    color: #00d1ea;
}
.service:nth-child(9) h3{
    font-family: "Croissant one", cursive;
    font-size: 1.6rem;
    margin: 2rem 0;
    color: #f600e4;
}
.service p{
    margin: .5rem 0;
    font-size: 1.1rem;
    padding: 0 .5rem;
    text-align: center;
    color: #889cb9;
}
.services-bg-1{
    width: 60rem;
    height: 60rem;
    background: linear-gradient(to right, transparent, transparent, #ff43a7);
    right: 8%;
    top: -12%;
    position: absolute;
    border-radius: 50%;
    opacity: .5;
}
.services-bg-2{
    width: 60rem;
    height: 60rem;
    background: linear-gradient(to left, transparent, transparent, #74b5ff);
    left: 8%;
    bottom: -10%;
    position: absolute;
    border-radius: 15rem;
    opacity: .5;
    transform: rotateZ(-10deg);
}
/* Service Section End */
/* Project Section Start */
.projects{
    height: 100%;
    width: 100%;
    padding: 10rem 0 10rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.projects h1{
    font-family: "Mooli", cursive;
    font-size: 4.5rem;
    color: #ff4800;
    /* color: #40c77e; */
    margin-bottom: 4rem;
}
.projects p{
    font-size: 1.2rem;
    color: #5e728f;
    text-align: center;
    width: 60rem;
    margin-bottom: 4rem;
}
.filter-nav{
    width: 80%;
    height: 6.5rem;
    box-shadow: 0 1rem 3rem rgba(12, 12, 12, 0.3);
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 6rem;
}
.filter-nav-link{
    width: 13rem;
    height: 4rem;
    background: #f2f4f5;
    border-radius: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    letter-spacing: .1rem;
    color: rgb(64, 199, 64);
    font-weight: bolder;
    font-size: 1.15rem;
    transition: all .3s;
}
.filter-nav-link:hover{
    background: #40c77e;
    color: white;
    transform: scale(1.05);
    
}
.active{
    background: #40c77e;
    color: white;
}
.active:hover{
    background: #40c77e;
}
.projects-list{
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 4rem;
}
.project{
    height: 33rem;
    width: 33rem;
    position: relative;
    margin: 3rem;
    cursor: pointer;
}
.project img{
    object-fit: cover;
    position: absolute;
    top: 50%;
    border-radius: 1rem;
}
.project img:nth-child(1){
    width: 22rem;
    height: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 1rem 4rem rgba(0, 0, 0, .4);
    z-index: 2;
}
.project img:nth-child(2){
    width: 20rem;
    height: 30rem;
    left: -5%;
    transform: translateY(-50%);
    z-index: 1;
    box-shadow: 0 3rem 8rem rgba(130,162,235,.9);
}
.project img:nth-child(3){
    width: 100%;
    height: 70%;
    right: -10%;
    transform: translateY(-50%);
    box-shadow: 0 3rem 8rem rgba(130,162,235,.49;
}
/* Project Section End */
/* Container End */